@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  text-align: center;
  margin: 10em 0;
  background-color: black;
  font-family: 'Koulen', cursive;
}

.number {
  color: white;
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.15em;
}

.btn {
  padding: 1em 1.5em;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  background-color: rgb(252, 36, 36);
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: translateY(4px);
}

@media (max-width: 470px) {
  .number {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 0.75rem;
  }
} ;
